
.shift-card {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .top-left {
    width: 75%;
  }
  
  .top-right {
    width: 25%;
  }

  .top-right img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  .bottom-left {
    width: 45%;
  }
  

  .bottom-right {
    width: 45%;
  }

  